@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model List<WishItem>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wish List</title>
    <link rel="stylesheet" href="~/css/HomeStyle.css" asp-append-version="true" />
</head>
<body>
    <main>
        <section class="form-section">
            <h2>Add a New Wish</h2>
            <form id="wish-form">
                <input type="text" id="wish-input" placeholder="Enter your wish" required>
                <button type="submit">Add to List</button>
            </form>
        </section>
        <section class="list-section">
            <h2>Your Wishes</h2>
                @foreach (var item in Model)
                {
                    <tr>
                    <td><h1>Nr @item.Id</h1> </td>
                        <td>Title: @item.Title</td>
                        <td>Description: @item.Description</td>
                    </tr>
                    <br>
                }
        </section>
    </main>
    <script src="script.js"></script>
</body>
</html>


